{% extends 'layout/base.html' %}

{% block title %}member/myinfo{% endblock %}

{% block style %}
/* 로그인한 회원의 정보 테이블 배치 */
table { border: 1px solid red;
    margin: 120px auto }
/* 회원 저옵 각 행에 여백 주기 */
th, td { padding: 5px }

/* 회원 정보 테이블의 제목 정렬하기 */
th { text-align: right }
{% endblock %}

{% block content %}
    <h2>회원정보</h2>
    <table>
        <tr><td>아이디</td><td>woogi</td></tr>
        <tr><td>이름</td><td>니ㅑ아ㅗㄹ나ㅣ</td></tr>
        <tr><td>이메일</td><td>woogi@gmail.com</td></tr>
        <tr><td>가입일</td><td>2022-05-27 12:17:36</td></tr>
    </table>
{% endblock %}

{% block jscript %}{% endblock %}
