{% extends 'layout/base.html' %}

{% block title %}board/view{% endblock %}

{% block style %}
    /* 메인 영역 크기 지정 */
#main { height: auto; min-height: 500px }

/* 링크관련 스타일시트 */
a { font-weight: bold }
a:link { text-decoration: none; color: black }
a:visited { text-decoration: none; color: black }
a:hover { text-decoration: underline; color: orange }
a:active { text-decoration: underline; color: orange }

/* 컨텐츠 영역 너비 지정 및 정중앙 배치 */
#wrap { /*border: 1px solid red;*/ width: 1250px;
    margin: 0 auto }

/* 상단 로고 배치 */
header h1 { margin-bottom: 45px }

/* 상단메뉴 수평 배치 */
ul { list-style: none; padding: 0 }
ul li { display: inline-block;
        margin-left: 155px }

/* 저작권 문구 가운데 정렬 */
footer span { display: block;
           text-align: center }

/* 구분선 */
hr { background: black; height: 1px; }
table { width: 60%; margin: 65px auto -10px;
    /*border: 1px solid black;*/
    border-collapse: collapse;
    margin-bottom: 30px }
th, td { /*border: 1px solid black;*/
         padding: 15px }

th:first-child { width: 15% }
tr:nth-child(4) th {
    vertical-align: top }

tr:nth-child(4) td {
    border:1px solid orange;
    vertical-align: top; }
tr:nth-child(4) div {
    height: 300px; overflow: auto;
    padding: 5px }

tr:nth-child(5) td { text-align: right }
{% endblock %}

{% block content %}
<h2>게시판 본문글</h2>
<table>
    <tr><th>제목</th>
        <td>시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구!</td></tr>
    <tr><th>작성자</th><td>zzyzzy</td></tr>
    <tr><th>작성일</th><td>2022-05-27 12:34:54</td></tr>
    <tr><th>본문</th><td><div class="box">시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!
        시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!</div></td></tr>

    <tr><td colspan="2">
        <button type="button"
                onclick="location.href='board.html'">목록으로 이동</button>
        <button type="button"
                onclick="location.href='write.html'">새글쓰기</button>
        <button type="button">수정하기</button>
        <button type="button">삭제하기</button></td></tr>
</table>
{% endblock %}

{% block jscript %}{% endblock %}