{% extends 'layout/base.html' %}

{% block title %}board/write{% endblock %}

{% block style %}
    /* 메인 영역 크기 지정 */
#main { height: auto; min-height: 500px }

/* 링크관련 스타일시트 */
a { font-weight: bold }
a:link { text-decoration: none; color: black }
a:visited { text-decoration: none; color: black }
a:hover { text-decoration: underline; color: orange }
a:active { text-decoration: underline; color: orange }

/* 컨텐츠 영역 너비 지정 및 정중앙 배치 */
#wrap { /*border: 1px solid red;*/ width: 1250px;
    margin: 0 auto }

/* 상단 로고 배치 */
header h1 { margin-bottom: 45px }

/* 상단메뉴 수평 배치 */
ul { list-style: none; padding: 0 }
ul li { display: inline-block;
        margin-left: 155px }

/* 저작권 문구 가운데 정렬 */
footer span { display: block;
           text-align: center }

/* 구분선 */
hr { background: black; height: 1px; }
form { /*border: 1px solid red;*/ width: 60%;
        margin: 65px auto 10px }

form div { margin-top: 10px }

form label { display:inline-block;
    width: 120px; text-align: right;
    font-weight: bold; margin-right: 15px }

.dragup { vertical-align: top; margin-top: 5px }
{% endblock %}

{% block content %}
    <h2>게시판 새글쓰기</h2>
    <form name="boardfrm" method="post">
    <div><label for="title">제목</label>
        <input type="text" name="title" id="title"></div>

    <div><label for="title">작성자</label>
        <span>zzyzzy</span></div>

    <div><label for="contents" class="dragup">본문</label>
        <textarea name="contents" id="contents"
            rows="10" cols="50"
            style="resize: none"></textarea></div>

    <div><label></label>
            <button type="submit">입력완료</button>
            <button type="reset">다시입력</button>
    </div>
    </form>
{% endblock %}

{% block jscript %}{% endblock %}